<%- include('bootheader') -%>
Sign Up Form
<form method="post" action="/reflectFormData">
  <br></br><Text>Enter your name:</Text>
  <input type="text"
         name="username"
         placeholder="your name">

  <br></br><Text>What is the task you want to complete?</Text>
  <input type="text"
         name="taskName">

  <br></br><Text>(Optional) Notes about your task:</Text>
  <br></br>
  <textarea name="taskNotes" rows="5" cols="20">
  Notes about your task...
  </textarea>
<br></br>
  <Text>When should your task be done by?</Text>
  <input type="date"
         name="birthday">
<br></br>
  <Text>How would you like to be notified?</Text>
   email <input type="checkbox" name="notificationType" value="email">
   phone  <input type="checkbox" name="notificationType" value="phone">
<br></br>
  <Text>How often would you like to be notified?</Text>
  <select name="notificationFrequency">
    <option value="1">daily</option>
    <option value="8">every 3 hours</option>
    <option value="24">every hour</option>
    <option value="48">every half hour</option>
  </select>
<br></br>
  <input type="submit" value="Submit">
</form>

<%- include('bootfooter') -%>
